<a-scene id="query-select-scene" ttats>
  <a-assets>
    <img id="cokeThumb" src="assets/img/coke-label.jpg">
    <img id="sky" src="assets/img/CGSkies_0284_free.jpg">
    <img id="handOverviewImg" src="assets/img/controls_overview.png">
    <img id="vrgal-logo" src="assets/img/vrgal_logo_manual.png">
    <!-- <audio id="bg-music-chill" src="assets/sounds/Siddhartha_-_07_-_There_Is_Only_This_Love.mp3" preload="auto"></audio> -->
    <!-- <audio id="bg-music-chill" src="assets/sounds/Siddhartha_-_07_-_There_Is_Only_This_Love_abridged.ogg" preload="auto"></audio> -->
    <audio id="bg-music-chill" src="assets/sounds/Siddhartha_-_07_-_There_Is_Only_This_Love_abridged.mp3" qreload="auto"></audio>
    <!-- <a-asset-item id="bg-music-chill" src="assets/sounds/Siddhartha_-_07_-_There_Is_Only_This_Love_abridged.ogg" response-type="arraybuffer"></a-asset-item> -->
    <!-- <a-asset-item id="bg-music-chill" src="assets/sounds/Siddhartha_-_07_-_There_Is_Only_This_Love_abridged.ogg" response-type="arraybuffer"></a-asset-item> -->
    <!-- works -->
    <!-- <a-asset-item id="bg-music-chill" src="assets/sounds/Siddhartha_-_01_-_Lore_abridged.ogg" response-type="arraybuffer"></a-asset-item> -->
  </a-assets>
  <a-entity id="dolly" position="0 0 8" wasd-plus-controls sticky-state>
    <a-camera near="0.1" user-height="0" position="0 0 0" id="camera" wasd-controls-enabled="false"></a-camera>
    <a-entity hand-controls-vt="left" position="0 0 0" grab></a-entity>
    <a-entity laser-controls="hand: right" position="0 0 0"></a-entity>
  </a-entity>
  <a-entity id="links" >
  </a-entity>
  <!-- <a-image src="#vrgal-logo"
    width="3.1" height="1"
    position="0 2 0"
    opacity="0.5"></a-image> -->
  <a-text value="VRGAL"
    position="0 6 0"
    color="#ff0080"
    height="22" width="22"
    align="center"
    >
  </a-text>
  <a-text value="Explore VR Lifted Examples From the three.js Library"
    position="-5.5 4.9 0"
    color="#ffff00"
    height="10" width="15"
    wrap-count="60"
    >
  </a-text>
  <!-- <a-entity qosition="-6 0.5 -3" save-state>
    <a-box id="sb-query" position="-6 0.5 -3" rotation="0 0 0" color="#4CC309" height="2" width="2"></a-box>
    <a-text value="sandbox" position="-6.5 -1.5 -3" eight="8.2" idth="0.2"></a-text>
  </a-entity> -->
  <a-entity (click)="dummyClick($event)">
    <a-box id="dummy-click" position="-3 4.5 -3" rotation="0 0 0" color="#4CC309" height="2" width="2"></a-box>
  </a-entity>
  <a-entity (click)="dummyClick2($event)">
    <a-box id="dummy-click-2" position="3 4.5 -3" rotation="0 0 0" color="#4CC309" height="2" width="2"></a-box>
  </a-entity>
  <a-entity (click)="dummyClick3($event)">
    <a-circle id="dummy-click-3" position="0 4.5 -3" radius="1" rotation="0 0 0" color="#4CC309" ></a-circle>
  </a-entity>
    <a-circle id="curated-query"
      (click)="queryCurated($event)"
      position="-2 0.5 0"
      rotation="0 0 0"
      color="#4CC309" height="2" width="2"
      material="side: double">
    </a-circle>
    <a-text value="Curated Gallery\n(recommended)"
      position="-2 -1.5 0" align="center" eight="8.2" idth="0.2"></a-text>
  <!-- <a-box id="all-query"
    (click)="queryAll($event)"
    position="0 0.5 -3" rotation="0 0 0"
    color="#4CC3C9" height="2" width="2">
  </a-box> -->
  <a-circle id="all-query"
    (click)="queryAll($event)"
    position="2 0.5 0" rotation="0 0 0"
    color="#4CC3C9" height="2" width="2"
    material="side: double"
    >
  </a-circle>
  <a-text value="Full Gallery" position="2 -1.5 0" align="center"></a-text>
  <a-entity>
    <a-circle
      position="0 -4 0"
      radius="0.25"
      (mouseenter)="onHelpHoverEnter($event)"
      (mouseleave)="onHelpHoverExit($event)"
    >
    </a-circle>
    <a-image id="hand-overview-chart"
      src="#handOverviewImg" position="5 -4 0.2"
      width="8.8" height="4" visible="false">
    </a-image>
    <a-text value="Navigation Help" position="0 -5.5 0.2" align="center"></a-text>
    <!-- <a-link position="4 -5.5 0" href="https://www.google.com"
      on="never"
      (click)="dummyClick($event)"
    ></a-link> -->
    <!-- <a-entity
      link="href: https://www.google.com; on: no-click;"
      (click)="dummyClick($event)"
      position="4 -5.5 0"
    ></a-entity> -->
  </a-entity>
    <!-- <a-datgui name="settings" position="0 2 -1"> -->
      <!-- <a-gui-slider id="scaleControl" name="scale" step="0.01" min="0.01" max="4"></a-gui-slider>
      <a-gui-dropdown name="options">
      <a-gui-option value="0">Item 0</a-gui-option>
      <a-gui-option value="1">Item 1</a-gui-option>
    </a-gui-dropdown>
    <a-gui-checkbox name="on or off" default="true"></a-gui-checkbox>
    <a-gui-button name="click me"></a-gui-button> -->
    <!-- </a-datgui> -->
  <!-- <a-datgui controller-left="#ctrl-left"
          controller-right="#ctrl-right">
  <a-gui-slider name="scale"></a-gui-slider>
</a-datgui> -->
  <!-- <a-datgui>
  </a-datgui> -->
  <a-gui-radio
    id = "bg-music-radio"
    (click)="toggleBgMusic($event)"
    position="4 -5.5 0"
    width="3.0" height="0.75"
    value="Toggle Sound"
    font-family="Arial"
    margin="0 0 0.05 0"
    checked="true"
>
    <!-- (click)="toggleBgMusic($event)" -->
</a-gui-radio>
<!-- <a-gui-radio
    id = "bg-music-radio2"
    position="6 -5.5 0"
    width="2.5" height="0.75"
    value="toggle sound 2"
    font-family="Arial"
    margin="0 0 0.05 0"
    checked="true"
>
</a-gui-radio>  -->
<!-- <a-gui-toggle
  id="bg-music-toggle"
  position="-4 -5.5 0"
  width="4.5" height="0.75"
  (click)="toggleBgMusic($event)"
  value="Background Music"
  font-family="Arial"
  margin="0 0 0.05 0"
  checked="true"
>
</a-gui-toggle> -->
<!-- <a-entity id="bg-music" sound="src: #bg-music-chill; autoplay: true"></a-entity> -->
<a-sound id="bg-music" autoplay="true" loop="true" src="#bg-music-chill"></a-sound>
<a-sky src="#sky" theta-length="330"></a-sky>
</a-scene>
