<div class='controls'>
</div>
<div>
  <form id='input-form' #f='ngForm' (ngSubmit)="onSubmit(f)">
    <br/>
    <select class="form-control" id="testFileId" #testFile (change)="onChange(testFile.value)" required>
      <option *ngFor="let fn of testFiles" [value]="fn">{{fn}}</option>
    </select>
    <p>
    <button id='vrize-it' >Convert File</button><br/>
    <p>
    Input:
    <br/>
    <textarea id='inputText' name="inputText" ngModel rows="4" cols="50">
    </textarea>
  <p>
  <button id='vrize-it-input' >Convert Input Text</button><br/>
  <div>
    <p>
      Output:
      <br/>
      <textarea id='outputText' name='outputText' [ngModel]="outputText" rows="4" cols="50">
      </textarea>
    </div>
  </form>
</div>
<button (click)="commitExample()">Commit</button>
<p>
<input type="checkbox" name="cb-write-to-tmp" (change)="toggleWriteToTmp($event)" [ngModel]="writeToTmp"><label>Write to tmp Dir.</label>
<p>
<h3>Read from meta-data service</h3>
<p>
<button (click)="getExampleMetaData()">Get Example meta-data</button>
